<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="packageSettings" type="System.Configuration.AppSettingsSection" />
    <section name="sessionSettings" type="System.Configuration.AppSettingsSection" />
    <section name="analyticsSettings" type ="System.Configuration.AppSettingsSection"/>
  </configSections>
  <packageSettings/>
  <sessionSettings/>
  <analyticsSettings/>
</configuration>
